body,html{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #171f27;
}
.logito{
  height: 70px;
  width: 70px;
  /* margin: 10px; */
}
.card{
  align-items: center;
  background-color:#7b7979;
  padding: auto;
  color: #ffff;
  font-size:20px;
  margin: 10px;
  flex-direction: row;
}
.btn{
  background-color: #fca311;
  font-size: 14;
  border: #272725;
} 
.menu{
    /* display: flex;
    list-style: none; */
    /* padding: 0; */
    background-color:  hsl(0, 0%, 78%);
    /* width:100%; */
    /* max-width: 1800px; */
    /* margin: auto; */
  }
  .menu li a{
    text-decoration: none;
    color: #171f27;
    padding: 20px;
    display: block;
  }
  .rutas li{
    display: inline-block;
    text-align: center;
  }
  .menu li a:hover{
    background-color: #eb8f32;
  }

.nav-item.dropdown{
  margin-right: 3%;
  text-align: center
}
.dropdown-menu{
  min-width: 100%;
  font-size: 15px;
  text-align: center;
  background-color:  hsl(0, 0%, 78%);
}
.dropdown-menu li a{
  padding: 10px 5px 10px 5px;
  font-size: 15px;
  color: #171f27;
}
.dropdown-menu li a:hover{
  background-color: hsl(0, 1%, 81%);
}
.dropdown-menu:hover{
  background-color: hsl(0, 1%, 81%);
}

.card1{
  align-items: center;
  margin: 10px;
  color: #ffff;
}

.intro {
  height: 100%;
}
.fondo{
  background-color: #D9D9D9;
}
table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.btn:first-child:hover{
  background: #fa841a;
  border-color: #eb8f32;
}

thead th {
  color: black;
}



.table-scroll {
  border-radius: .5rem;
}

.table-scroll table thead th {
  font-size: 1.25rem;
}
thead {
  top: 0;
  position: sticky;
  background-color: #7B7979;
 
  
}

.table{
    border-radius: 0;
    background-color: #D3D3D3;
    
}




.centro{
 text-align: center;
}

.ancho{
  background-color: #171f27;
}

.cuadricula{
  border: solid;
  margin: 5px 5px;
  padding: 4px;
}

.linea{
  border: solid;
  padding: 8px;
}


a{
  color: white;
  text-decoration: none;
  
}

.color{
  color: white;
}