p{
    font-size:large;
}
.col-md-2{
  border: black solid 1px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.row.filaDato{
    border: black solid 1px;
    height: 80px;
}
.tituloDeCelda{
  font-size:18px;
}
.tituloDeUnaCelda{
  font-size:20px;
  margin-bottom: 10%;
}
.col-md-2 .row.celda{
  display: grid;
  justify-content: center;
  align-items: center;
}
.contenidoCelda.nro{
  padding-left: 25%;
}
.row.mainCard{
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 8%;
  padding-left: 8%;
  background: #b5b5bd;
}
.row.data{
  background: #b5b5bd;
}
.nombreJugador{
    font-weight: bold
}

.card {
  border-radius: .0rem;
  background-color: #ABA9A9;
}
.table{
    border-radius: 0;
    
}
h1{
  font-weight: bold;
}
.main-title{

  color: white;
  text-transform: uppercase;
  
}
.jugador{
  color: black;
}

.col.carnet {
  overflow: hidden;
  margin: 0;
}

.card-img-top.imagenCarnet:hover{
  cursor: url(), pointer;
}


.col.carnet.active .card-img-top.imagenCarnet{
  -webkit-filter: grayscale(1);
}

.card-img-top.imagenCarnet {
  display: block;
  margin: 20px auto;
  
  border: 1px solid rgba(255,255,255,0.2);
  -webkit-transition: -webkit-filter 500ms;
}

#zoom {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;
  height: 250px;
  margin: -125px 0 0 -125px;
  background-repeat: no-repeat;
  box-shadow: 0 0 0 2px rgba(255,0,0,0.5),
    5px 5px 10px 5px rgba(0,0,0,0.2);
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: scale(0);
  -webkit-transition: opacity 500ms, -webkit-transform 500ms;
  pointer-events: none;
}

.active #zoom {
  opacity: 1;
  -webkit-transform: scale(1);
}