.card-img-top{
    margin: 15px;
    width: 100px;
    height: 100px;
}
.card{
    align-items: center;
    background-color: #ABA9A9 ;
}
.TituloPais{
 margin: 30px;
}
.TituloCategoria{
    margin: 30px;
   }
.listaJugadores{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 20px;
}
.listaCuerpoT{
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.listaEquipo{
    display: flex;
    padding: 10px;
    text-align: center;
}
