html,
body{
  
  color:black;
  width: 100%;
  font-family: sans-serif;
  font-weight: normal;
}
.intro {
  height: 100%;
}
.fondo{
  background-color: #D9D9D9;
}
table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.btn:first-child:hover{
  background: #fa841a;
  border-color: #eb8f32;
}

thead th {
  color: black;
}

.card {
  background-color: #ABA9A9;
}

.table-scroll {
  border-radius: .5rem;
}

.table-scroll table thead th {
  font-size: 1.25rem;
}
thead {
  top: 0;
  position: sticky;
  background-color: #7B7979;
}

.table{
    border-radius: 0;
    background-color: #D3D3D3;
    
}
.btn{
  background-color: #eb8f32;
  font-size: 14;
  border-color: #eb8f32;
}
a{
  color: white;
  text-decoration: none;
  
}
.navbar{
  background-color: #2c2a2a;
}
.fondoTabla{
  background-color: #D3D3D3;
}
.foto{
    display: flex !important;
    width: 3.2cm;
    height: 3.2cm;
    margin-left: 0.5rem !important;

}

.qr{
    margin: auto;
    width: 2cm;
    height: 2cm;
    left:270px;
    top: 165px;
    position: absolute;
}
.card-body{
    color: black;
}
.credencial{
    width: 9.9cm;    
    height: 6.5cm;
    background-color: #D9D9D9;
    color: black;
    border-radius: 0.5rem;
    padding: 0;
    position: absolute;
    left: 150px;
}
.contenedorCredencial{
  width: 10cm;    
  height: 6.7cm;
  
  
}

.credencialAtras{
  width: 333px;    
  height: 435px;
  background-color: #D9D9D9;
  color: black;
  border-radius: 0.5rem;
  position: absolute;
  left: 351px;
  

}
.separador{
  height: 15px;
}
.credencialtitulo{
  text-align: center !important;
  margin-top: 10px;
  
}
.page-break {
  page-break-after: always;
}
.contenido{
  padding: 0 !important;
  margin-left: 0.5rem !important;
}
.credencial-contenido{
  padding: 0 !important;
  margin-left: 0.5rem !important;
  left: 130px;
  top: 90px;
  position: absolute;
  font-size: large;

}
.negrita{
 font-size: small;
}
