.main-title{
    color: white;
}
.row{
    background: #b5b5bd;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}
.fondo{
    background-color: #171f27
}
.btn.botonSubirLogo{
    margin-top: 2.5%;
    background-color: #eb8f32;
    color: white;
}
.lista{
    background-color: rgb(48, 46, 46);
    margin: auto;
    text-align: center;
}
.tabla{
    background-color: #b5b5bd !important;
    margin-left:20px;
    margin-right: 20px;
    padding: 5px;
}
.tablasup{
    background-color: #4a4a4b !important;
    color: white;
    margin: 0px;
}
.textoPais{
    color: white;
    margin-top: 20px;
    margin-left: 50px;
}
.btn.botonSubirLogo:hover{
    background: #fa841a !important;
    color: white !important;
}
.btn.botoncreate:hover{
    background: #fa841a !important;
    color: white !important;
}
.botones_jugador{
    text-align: center;
}
.btn.botoncreate{

    margin: 20px;
    padding: 10px;
    background-color: #eb8f32;
    color: white;
    
}
.error-message{
    color: red;
}
.input-group{
    display: flex;
    justify-content: center;
}
.col-md-6.nombreEquipo{
    display: grid;
    align-content: center;
}
.btn.red{
    margin: 20px;
    padding: 10px;
    background-color: red !important;
    border: none;
    color: white !important;

 }
.btn.red:hover{
    background: #fa1a1a !important;
    color: white; 
}