body{
    background: #171f27;
}

.tituloFomulario{
    font-weight: bold;
    color: white;
}

.btnFomulario{
    width: 50%;
    margin-top: 2%;
    background: #eb8f32;
    color: white;
}

.btn:first-child:hover{
    background: #fa841a;
}

.error-message{
    color: red;
}

.contenedorForm{
    background: #b5b5bd;
    margin-top: 1%;
}

.navbar{
    background: #e1e3e7;
}

.navbar a {
    color: black;
}
.boton{
    background: #eb8f32;
    color: white;
    padding: 10px;
    margin: 20px;
    margin-left: 1100px;
    border-radius: 5px;
    text-decoration:none;
}
