html,
.bodyJ{
  background-color: #171f27;
  color:white;
}
.btnj:first-child:hover{
  background: #fa841a;
  border-color: #eb8f32;
}

thead th {
  color: black;
}

.card {
  background-color: #ABA9A9;
}

.table-scroll {
  border-radius: .5rem;
}

.table-scroll table thead th {
  font-size: 1.25rem;
}
thead {
  top: 0;
  position: sticky;
  background-color: #7B7979;
 
  
}

.table{
    border-radius: 0;
    background-color: #D3D3D3;
    
}
.btnj{
  background-color: #eb8f32;
  font-size: 14;
  border-color: #eb8f32;
}
a{
  color: white;
  text-decoration: none;
  
}
.fondoTabla{
  background-color: #D3D3D3;
}
.card-img-top{
    margin: auto;
    width: 200px;
    height: 200px;
}
.card-body{
    color: black;
}
.Jboton{
  width: 15%;
  height: 10%;
}
.displayBotonJ{
  display: block;
  margin: auto;
  margin-top: 0.5rem ;
  width: 80%;
}
.btnj-primary:hover {
    
  background: #fa841a !important;
  border-color: #eb8f32 !important;
}

