html,
body{
  background: #b9d1ea;;
  color: #000000;
}
.tituloequipo{
    padding: 10px;
    font-size: 45px;
}
.card-img-top{
    margin: 10px;
    width: 100px;
    height: 100px;
}
.card{
    align-items: center;
    flex-direction: row;
    background-color: #fca311 ;
    padding: auto;
    color: #272725;
    font-size:20px;
}
.TituloPais{
    margin: 30px;
    padding: 5px;
    border-radius: 15px;
    font-size: 5px;
}
.TituloCategoria{
    margin: 30px;
    padding: 5px;
    border-radius: 15px;
   }
.listaJugadores{
    display: flex;
    flex-direction:column;
    margin: auto;
    padding: 20px;
}
.listaCuerpoT{
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.listaEquipo{
    display: flex;
    flex-direction:row;
    text-align: center;
    padding: 0;
}
.btn{
    background-color: #272725;
    font-size: 14;
    border: #272725;
  }
