body,html{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #171f27;
}
.logito{
  height: 70px;
  width: 70px;
}
.menu{
    background-color:  hsl(0, 0%, 78%);
}
.menu .nav-link{
  height: 60px;
  display: flex;
  align-items: center;
}
.rutas li{
  display: inline-block;
  text-align: center;
}
.menu .nav-item:hover{
  background-color: #eb8f32;
}
.dropdown-menu{
  min-width: 100%;
}
.menu .dropdown-menu  a{
  padding: 10px 5px 8px 5px;
  font-size: 15px;
}
.bodyJ{
  background-color: #171f27;
  color:white;
}
.pJ{
    font-size:large;
}
table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

thead th {
  color: black;
}

.cardJ {
  background-color: #ABA9A9;
}

.table-scroll {
  border-radius: .5rem;
}

.table-scroll table thead th {
  font-size: 1.25rem;
}
thead {
  top: 0;
  position: sticky;
  background-color: #7B7979;
}
tbody{
    background-color: #D3D3D3;
}
.table{
    border-radius: 0;
    background-color: #D3D3D3;
    
}
.jugadorJ{
  color: black;
}
.botonj{
  width: 20%;
  height: 10%;
}
.Jboton{
  width: 15%;
  height: 10%;
}
.displayBotonJ{
  display: block;
  margin: auto;
  margin-top: 0.5rem ;
  width: 80%;
}
.btnj:hover {
    
  background: #fa841a !important;
  border-color: #eb8f32 !important;
}
.fondoTabla{
  background-color: #D3D3D3;
}
.card-img-topJ{
    margin: auto;
    width: 200px;
    height: 200px;
}
.card-bodyJ{
  color: black;
}
.btnj{
  background-color: #eb8f32 !important;
  font-size: 14;
  color:white;
  border-color: #eb8f32 !important;
}
.cardEquipo{
  background-color: #5a5a56;
  align-items: center;
  padding: auto;
  color: rgb(255, 248, 248);
  font-size:20px;
  margin: 10px;
  flex-direction: row;
}
.btn{
  background-color: #fca311;
  font-size: 14;
  border: #272725;
} 

.botone{
  background-color: #eb8f32;
  border-color: #eb8f32;
  text-decoration: none;
  padding: 20px;
  margin: 5px;
  color: white;
  border-radius: 5px;
} 
.cardLogoE{
  margin: 0;
  position: absolute;
  width: 400px;
  height: 400px;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.containex{
  height: 400px;
  position: relative;
}
.botonesCat{
    text-align: center;
    margin-left: 15px;
    margin-top: 5px;
    display: inline-flex;
}
.TituloEquipo{
  text-align: center;
  color: white;
}
html{
  height: 100%;
}
body{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
footer{
  margin-top: auto;
}
.dropdown-menu:hover{
  background-color: hsl(0, 1%, 81%);
}

.card1{
  align-content: center;
  margin: 30px;
  color: #ffff;
  max-width: 600px;
}

.intro {
  height: 100%;
}
.fondo{
  background-color: #D9D9D9;
}
table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.btn:first-child:hover{
  background: #fa841a;
  border-color: #eb8f32;
}

thead th {
  color: black;
}



.table-scroll {
  border-radius: .5rem;
}

.table-scroll table thead th {
  font-size: 1.25rem;
}
thead {
  top: 0;
  position: sticky;
  background-color: #7B7979;
 
  
}

.colorB{
  background-color:#7B7979;
}

.table{
    border-radius: 0;
    background-color: #D3D3D3;
    
}




.centro{
 text-align: center;
}

.ancho{
  margin: auto;
 color: black;
  background-color: white;
}

.cuadricula{
  border: solid;
  margin: 5px 5px;
  padding: 4px;
}

.linea{
  border: solid;
  padding: 8px;
}


a{
  color: white;
  text-decoration: none;
  
}

.color{
  color: white;
}