html,
.bodyJ{
  background-color: #171f27;
  color:white;
}
.pJ{
    font-size:large;
}
table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

thead th {
  color: black;
}

.cardJ {
  background-color: #ABA9A9;
}

.table-scroll {
  border-radius: .5rem;
}

.table-scroll table thead th {
  font-size: 1.25rem;
}
thead {
  top: 0;
  position: sticky;
  background-color: #7B7979;
}
tbody{
    background-color: #D3D3D3;
}
.table{
    border-radius: 0;
    background-color: #D3D3D3;
    
}
.btn{
  background-color: #eb8f32 !important;
  font-size: 14;
  border-color: #eb8f32 !important;
}
.btn:first-child:hover{
  background: #fa841a;
  border-color: #eb8f32;
}
.transformacion2 { 
    text-transform: uppercase;
    color: white;
}
.jugadorJ{
  color: black;
}
.botonj{
  width: 20%;
  height: 10%;
}
.btn-primary:hover {
    
  background: #fa841a !important;
  border-color: #eb8f32 !important;
}
