
.main-title{
    margin-top: 20px;
    text-align: center;
    color: #e5852a; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.row{
    background: #b5b5bd;
}

.btn.botonPreinscripcion{
    margin-top: 15px;
    background-color: #eb8f32;
    color: white;
}
.btn.botonPreinscripcion:first-child:hover{
    background: #fa841a;
}

.card-title{
    background: #2c2a2a;
}
h5{
    color: #ffffff;
}
.error-message{
    color: red;
}