.main-title{
    color: white;
}
.row{
    background: #b5b5bd;
}
.btn.botonPreinscripcion{
    margin-top: 15px;
    background-color: #eb8f32;
    color: white;
}
.btn.botonPreinscripcion:first-child:hover{
    background: #fa841a;
}