body{
    background: #171f27;
}
.boton{
    width: 15%;
    height: 10%;
  }
  .displayBoton{
    display: block;
    margin: auto;
    margin-top: 0.5rem ;
    width: 80%;
  }
  .red{
    background-color: red !important;
    border: none;
}
.Boton{
    display: inline-block;
    text-decoration: none;
    color: white;
    background: #eb8f32;
    padding: 1%;
    border-radius: 4px;
    vertical-align: middle;
}
.red:hover{
    background: #fa1a1a !important;
    color: white; 
}
.Boton:hover{
    background: #fa841a;
    color: white; 
}
.titulo{
    font-weight: bold;
    color: white;
}

.boton{
    display: flex;
    width: 50%;
    text-decoration: none;
    color: white;
    background: #eb8f32;
    padding: 1%;
    border-radius: 8px;
    margin: 0% 1%;
    justify-content: center;
}

.boton:hover{
  background: #fa841a;
  color: white;
}

.btnVolver{
    width: 100%;
}

.btnEditar{
    margin: auto;
    width: 80%;
}

.contenedorCard{
    background: #b5b5bd !important;
    margin-top: 1%;
}

.tarjeta{
    background: #e6e6e6;
}

.cardHeader{
    text-align: center;
}

.cardBody{
    text-align: center;
}

.table-scroll {
  border-radius: .5rem;
}

.table-scroll table thead th {
  font-size: 1.25rem;
}

.tituloJ{
    text-align: center;
    color: #e5852a; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
