body{
    background-color: #171f27;
}
.login{
    margin-top: 5%;
}
.card-title{
    color: #e5852a;
    border-bottom: white solid 1px;
}
.card.login
{
    color: black;
    background: #b5b5bd;
}
.btn.iniciar-sesion{
    margin-top: 15px;
    background-color: #eb8f32;
    color: white;
}
.btn.iniciar-sesion:first-child:hover{
    background: #fa841a;
    color: white;
}
